.mySwiper {
    width: 100%;
    height: 50vh;
    border-radius: 25px;
    /* border-color: green;
    border-width: 5px;
    border-style: solid; */
}
a{
    width: 100%;
    height: 100%;
}
.mySwiper img {
    width: 100%;
    background-size: 100% 100%;
    background-position:center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: block;
    height: 100%;
}

.carousel-container{
    margin-top: 6rem;
}
