:root {
     --stroke-width: calc(1.8em / 16);
     --font-size: 30vmin;
     --font-weight: 800;
     --letter-spacing: calc(1em / 8);
   }

.event-list-wrapper {
  width: 100%;
  height: auto;
  /* background-color: var(--bg-color); */
  background-color: white;
  padding: 2%;
  }
  .event-list {
       /* width: 500px; */
       display: flex;
       justify-content: center;
       align-items: center;
       /* gap: 24px; */
       margin-top: 60px;
       margin-bottom: 60px;
       flex-wrap: wrap;
       flex-direction: row;
  }
  .event-h1 {
     font-size: 3rem;
     font-weight: 800;
     text-align: center;
     margin-top: 5rem;
     background-clip: text;
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
  /* color:var(--bg-color); */
  color:white;
  font-weight: 800;
  letter-spacing:5px;
  padding:1rem;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 4px;
}

.m-3{
     margin-top: 6rem;
}